* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

:root{
    --white: #FFF;
    --black: #000;
    --gray-100: #8a8a8a;
    --red-900: #a01580;
    --pink-200: #F7E9EC;
    --pink-500: #ffb7c1;
    --blue-200: #a4ecff;
    --blue-600: #03a3d8;
    --brown-700: #4e2806;
    --blue-100: #E8F0FE;
    --font-family-base: var(--font-urbanist);
}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-rendering: none;
}

body{
    font-family: var(--font-family-base), sans-serif;
    background: var(--pink-200);
}

body, input, textarea, select, button{
    font: 400, 1rem;
}

input,
textarea {
  font-family: var(--font-urbanist), sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: var(--font-urbanist), sans-serif;
  color: #aaa;
}

@media (max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

@media (max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}