.containerCenter{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--pink-200);
}

.login{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 600px;

  h1{
    color: var(--brown-700);
  }

  form{
    color: var(--brown-700);
    padding-bottom: 14px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 16px;
  }

  
}

.formButton {
    height: 40px;
    font-size: 16px;
    background-color: var(--blue-600);
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    &:hover{
      background-color: var(--red-900);
  }
}

.formButton:hover{
  transform: scale(1.0)
}

.input {
  height: 40px;
  border: 1px solid var(--gray-100);
  padding: 0 16px;
  border-radius: 8px;
  background-color: var(--blue-100);
  color: var(--brown-700);
  font-size: 16px;
}

.input::placeholder{
  color:var(--brown-700)
}

.text {
  color:var(--brown-700);
  text-decoration: none;
}

@media (max-width: 620px) {
  .login{
    width: 90%;
  }
}