.formButton {
  
    height: 40px;
    font-size: 16px;
    background-color: var(--red-900);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
 
}

.formButton:hover{
  transform: scale(1.05)
}